* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #25292D;
    color: #DDD;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    min-height: 640px;
    min-width: 1024px;
    /*max-width: 1280px;
  max-height: 768px;*/
}
#kexueguan {
    float: left;
    width: 200px;
}
#ieaci{
    width: 200px;
}
#kexuejia {

    width: 200px;
}
.show {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 3%;
    text-align: center;
}
.head {
    margin-top: 5%;
    margin-bottom: 30px;
}
span {
    font-size: 270%;
}
.word {
    letter-spacing: 3px;
}
.you {
    cursor: pointer;
    font-size: 340%;
    letter-spacing: 5px;
    color: #DA5D5D;
}
.progress-container, .progress {
    border-radius: 10px;
}
.progress-container {
    width: 220px;
    height: 560px;
    margin-top: 10px;
    border: solid 1px #111;
    background: #151515;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.progress-container.done .progress {
    background: #0f9816;
}
.progress-container.done .progress-overlay {
    display: none;
}
.progress, .progress-overlay {
    position: absolute;
}
.progress {
    width: 100%;
    height: 0%;
    background: rgb(17, 155, 176);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
    z-index: 1;
    bottom: 0;
    color: #151515;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    font-weight: bold;
    transition: background 250ms ease;
}
@keyframes uploadarrow {
    0% {
        bottom: 0%;
        border-bottom-color: rgba(255, 255, 255, 0);
    }
    50% {
        border-bottom-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        bottom: 100%;
        border-bottom-color: rgba(255, 255, 255, 0);
    }
}
@-webkit-keyframes uploadarrow {
    0% {
        bottom: 0%;
        border-bottom-color: rgba(255, 255, 255, 0);
    }
    50% {
        border-bottom-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        bottom: 100%;
        border-bottom-color: rgba(255, 255, 255, 0);
    }
}
.progress-overlay {
    z-index: 2;
    left: 30%;
    width: 40%;
    height: 100%;
    bottom: 0;
    border: solid 20px transparent;
    border-width: 0 25px 20px 25px;
    border-bottom-color: rgba(255, 255, 255, 0.25);
    -webkit-animation: uploadarrow 1200ms infinite ease-out;
    -moz-animation: uploadarrow 1200ms infinite linear;
    -o-animation: uploadarrow 1200ms infinite linear;
    animation: uploadarrow 1200ms infinite linear;
}
.guide {
    float: right;
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 5%;
}
.guide h1 {
    color: #E6E2E1;
    margin-left: 100px;
    font-size: 300%;
}
.guide img {
    text-align: center;
    margin-left: 0px;
    width: 400px;
    margin-bottom: 10px;
}
.guide h3 {
    font-size: 125%;
}
.guide ul li {
    font-size: 20px;
    line-height: 1.2;
}
#light {
    display: none;
}
#air {
    margin-top: 10%;
    margin-left: 16%;
    margin-right: 12%;
}
#air .progress-container {
    width: 100px;
    height: 400px;
    text-align: center;
}
#air h1 {
    font-size: 250%;
    padding-top: 40px;
    padding-bottom: 40px;
}
#air .airData {
    float: right;
}
#air .airData span {
    font-size: 500%;
    margin-left: 40px;
    margin-right: 20px;
}
#humidity {
    float: right;
}
#humidity h1 {
    margin-left: 40px;
}
#pm {
    float: left;
}
#pm h1 {
    margin-left: 40px;
}